body {
    background-color: black;
    color: green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 3rem 3rem 5% 5%;
    text-align: center;
}

body img {
    width: 50%;
    height: auto;
    
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}
#Home{
    background-image: url("img/mediterranean-food-011.jpg");
    background-size: 80%;
    background-position: 50%;
    border-radius: 40rem;
    color: yellowgreen;
    font-size: 2rem;
    text-shadow: .2rem .1rem black;
}

header>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style: none;
    text-align: center;
    padding-left: 0;
}

nav{
    background-color: rgba(3, 183, 3, .20);
    border-radius: 4rem;
}

nav li {
    display: inline-block;
    font-size: 1.5rem;
}

nav li a {
    color: yellow;
    margin-left: 1rem;
    margin-right: 1rem;
}

section {
    display: flex;
}


#Booking,#Menu,#About {
    border-style: outset;
    border-color: greenyellow;
    border-radius: 2rem;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

div {
    margin: auto;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#Booking img {
    width: 20%;
    height: auto;
}

article {
    flex: 1;
}

footer {
    display: flex;
    
}
footer div{
    flex: 1;
   font-size: 1.5rem;
}
footer img{
    width: 20%;
    height: auto;
}
